.welcome {
    margin: 25px;
}

.welcome-title {
    margin: 10px;
}

.saldo {
    display: flex;
    margin-top: 15px;

    button {
        margin-left: 5px;
    }

    .value {
        font-size: 22px;
        margin-left: 15px;
    }
}

mat-card-subtitle {
    color: black;
}

mat-icon {
    vertical-align: top;
    color: rgb(107, 101, 101);
}

.resultados {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.carteira {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;
    color: black;

    mat-card-title {
        margin: 15px;
    }
}

.investimentos {
    margin: 15px;

    .investimento {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }

    .icone{
        width: 60px;
        height: 60px;
    }

    .investimento-item {
        display: flex;
    }

    .descricao{
        margin-left: 25px;
    }
}
