<div class="container">
    <mat-card-title>Movimentações</mat-card-title>
</div>


<mat-divider></mat-divider>

<form class="post" [formGroup]="registrarMovimentacao">
    <div class="form">
        <mat-form-field>
            <mat-label>Destino</mat-label>
            <input matInput formControlName="destino">
            <mat-error *ngIf="registrarMovimentacao.get('destino')?.hasError('required')">
                Destino é obrigatório.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Valor</mat-label>
            <input matInput formControlName="valor" (input)="formatCurrency($event)" />
            <mat-error *ngIf="registrarMovimentacao.get('valor')?.hasError('required')">
                Valor é obrigatório.
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form">
        <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoria">
                <mat-option value="investimento">Investimento</mat-option>
                <mat-option value="alimentacao">Alimentação</mat-option>
                <mat-option value="transporte">Transporte</mat-option>
                <mat-option value="entretenimento">Entretenimento</mat-option>
            </mat-select>
            <mat-error *ngIf="registrarMovimentacao.get('categoria')?.hasError('required')">
                Categoria é obrigatório.
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-upload">
        <div class="upload-container">
            <button mat-raised-button color="accent" (click)="fileInput.click()">Anexar Comprovante</button>
            <input #fileInput type="file" hidden>
        </div>

    </div>


</form>

<mat-divider></mat-divider>

<div class="actions">
    <button mat-dialog-close mat-flat-button color="warn">Cancelar</button>
    &nbsp;
    <button mat-flat-button color="primary" [disabled]="registrarMovimentacao.invalid">Salvar</button>
    &nbsp;
    <!-- <div class="overlay" *ngIf="isLoading" class="loader"></div> -->
</div>