<div class="container">
    <mat-card-title>Movimentações</mat-card-title>
</div>


<mat-divider></mat-divider>

<form class="post" [formGroup]="registrarMovimentacao">
    <div class="form">
        <mat-form-field>
            <mat-label>Destino</mat-label>
            <input matInput formControlName="destino">
            <mat-error *ngIf="registrarMovimentacao.get('destino')?.hasError('required')">
                Destino é obrigatório.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Valor</mat-label>
            <input matInput formControlName="valor" (input)="formatCurrency($event)"/>
            <mat-error *ngIf="registrarMovimentacao.get('valor')?.hasError('required')">
                Valor é obrigatório.
            </mat-error>
        </mat-form-field>
    </div>


</form>

<mat-divider></mat-divider>

<div class="actions">
    <button mat-dialog-close mat-flat-button color="warn">Cancelar</button>
    &nbsp;
    <button mat-flat-button color="primary" [disabled]="registrarMovimentacao.invalid">Salvar</button>
    &nbsp;
    <!-- <div class="overlay" *ngIf="isLoading" class="loader"></div> -->
</div>