<mat-toolbar>
    <h1>Cash$ystem</h1>

    <div class="main">
        <a routerLink="/">Home</a>
        <a routerLink="movimentacao">Movimentações</a>
        <a>Produtos</a>
    </div>

    <div class="options">
        <a mat-icon-button aria-label="Notificações"><mat-icon matBadge="4">notifications</mat-icon></a>
        <a routerLink="configuracao" mat-icon-button aria-label="Configuração"><mat-icon>settings</mat-icon></a>
        <a mat-icon-button aria-label="Usuario"><mat-icon>person</mat-icon></a>
    </div>
</mat-toolbar>

<div class="router">
    <router-outlet></router-outlet>
</div>