mat-card{
    margin-top: 25px;
}

.conversao{
    width: 100%;
    display: flex;
    justify-content: space-between;

    mat-form-field{
        margin: 15px;
        width: 50%;
    }
}

.title{
    display: flex;
    justify-content: space-between;
}