<mat-card>
    <div class="title">
        <mat-card-title>
            <mat-icon>sync_alt</mat-icon>
            Movimentações
        </mat-card-title>
    </div>

    <div class="conversao">
        <mat-form-field>
            <mat-label>Conversão</mat-label>
            <mat-select>
                <mat-option value="brl">BRL</mat-option>
                <mat-option value="usa">USA</mat-option>
                <mat-option value="eua">EUA</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Cambio</mat-label>
            <input matInput />
        </mat-form-field>
    </div>
</mat-card>