<mat-card>
    <div class="title">
        <mat-card-title>
            <mat-icon>sync_alt</mat-icon>
            Movimentações
        </mat-card-title>
        <mat-card-title>{{ (value || 0) * (conversao || 0) | currency:'BRL':'symbol':'1.2-2' }}</mat-card-title>
    </div>

    <div class="conversao">
        <mat-form-field>
            <mat-label>Conversão</mat-label>
            <mat-select [(ngModel)]="conversao">
                <mat-option *ngFor="let currency of dataCambio | keyvalue" [value]="currency.value">
                    {{ currency.key }} - {{ currency.value | number: '1.2-2' }}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Valor</mat-label>
            <input matInput [(ngModel)]="value" />
        </mat-form-field>
    </div>
</mat-card>

<div class="actions">
    <button mat-flat-button matTooltip="Gerar documento de movimentação" color="primary">Exportar
        relatório</button>
    &nbsp;
    <button mat-flat-button matTooltip="Registrar nova movimentação" color="primary"
        (click)="openDialogMovimentacao('500ms', '250ms')">Registrar</button>
</div>

<mat-card class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="obs" class="last-column">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let movimentacao">
                <button (click)="visibilityBoolean()" mat-icon-button matTooltip="Ocultar">
                    @if(visibility){
                    <mat-icon>visibility_off</mat-icon>
                    } @else {
                    <mat-icon>visibility</mat-icon>
                    }
                </button>
                &nbsp;
                <button mat-icon-button (click)="openDocumention()" matTooltip="Comprovante">
                    <mat-icon style="color: blue;">description</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Protocolo </th>
            <td mat-cell *matCellDef="let movimentacao">
                @if(visibility){
                <b>****</b>
                } @else {
                {{movimentacao.codigo}}
                }
            </td>
        </ng-container>

        <ng-container matColumnDef="origem">
            <th mat-header-cell *matHeaderCellDef> Origem </th>
            <td mat-cell *matCellDef="let movimentacao"> {{movimentacao.origem}} </td>
        </ng-container>

        <ng-container matColumnDef="destino">
            <th mat-header-cell *matHeaderCellDef> Destino </th>
            <td mat-cell *matCellDef="let movimentacao"> {{movimentacao.destino}} </td>
        </ng-container>

        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let movimentacao"> {{movimentacao.valor}} </td>
        </ng-container>

        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let movimentacao"> {{movimentacao.data | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>

<br>