<div class="container">
    <div class="list">
        <div class="list-item">
            <div class="categoria">
                <b>Alimentação</b>
            </div>
            <div class="valor">
                <mat-form-field class="example-full-width">
                    <mat-label>Valor Limite</mat-label>
                    <input matInput (input)="formatCurrency($event)"/>
                </mat-form-field>
            </div>
        </div>
        <div class="list-item">
            <div class="categoria">
                <b>Entreterimento</b>
            </div>
            <div class="valor">
                <mat-form-field class="example-full-width">
                    <mat-label>Valor Limite</mat-label>
                    <input matInput (input)="formatCurrency($event)" />
                </mat-form-field>
            </div>
        </div>
        <div class="list-item">
            <div class="categoria">
                <b>Investimento</b>
            </div>
            <div class="valor">
                <mat-form-field class="example-full-width">
                    <mat-label>Valor Limite</mat-label>
                    <input matInput (input)="formatCurrency($event)" />
                </mat-form-field>
            </div>
        </div>
        <div class="list-item">
            <div class="categoria">
                <b>Transporte</b>
            </div>
            <div class="valor">
                <mat-form-field class="example-full-width">
                    <mat-label>Valor Limite</mat-label>
                    <input matInput (input)="formatCurrency($event)" />
                </mat-form-field>
            </div>
        </div>
    </div>
</div>