<mat-toolbar>
    <h1>Cash$ystem</h1>

    <div class="main">
        <a>Home</a>
        <a>Movimentações</a>
        <a>Produtos</a>
    </div>

    <div class="options">
        <button mat-icon-button aria-label="Notificações"><mat-icon matBadge="4">notifications</mat-icon></button>
        <button mat-icon-button aria-label="Configuração"><mat-icon>settings</mat-icon></button>
        <button mat-icon-button aria-label="Usuario"><mat-icon>person</mat-icon></button>
    </div>
</mat-toolbar>

<div class="router">
    <router-outlet></router-outlet>
</div>